* {
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
}
.About-page {
	padding-top: 120px;
	max-width: 700px;
	margin: auto;
	display: grid;
	grid-column: 1fr 4fr;
	grid-gap: 70px;
}
.title hr{
	margin-top: 30px;
}
.title h1 {
	justify-content: center;
	align-items: center;
	text-align: center;
}
.aboutp p{
 font-size: 20px;
 margin-bottom: 15px;
}
.aboutp img {
	width: 100%;
}