KV_REST_API_URL="https://sweeping-woodcock-103724.upstash.io"
KV_REST_API_TOKEN="gQAAAAAAAZUsAAIgcDJmOTQ2ZjlkODFlN2I0YTQ5OThlMDFmMDllNTM1ZDFiNA"
KV_REST_API_READ_ONLY_TOKEN="ggAAAAAAAZUsAAIgcDKEy9Xx5H_LK_LjZDoHyZlmfS4MK1RsqdRpHdPLHASrBg"
